VITE_COGNITO_USER_POOL_ID=eu-central-1_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_REGION=eu-central-1

# DEV: VITE_API_URL=/api   (proxied local prin vite.config.ts)
# PROD (Vercel): VITE_API_URL=https://slz724a3b9.execute-api.eu-central-1.amazonaws.com
VITE_API_URL=/api
